{* Copyright (c) 2018 Plaas *}

<p class="peach_module">
	<a href="{$base_dir_ssl}modules/peach/payment.php" title="{$buttonText}">
		<img src="modules/peach/peach.png" alt="{$buttonText}" />
		{$buttonText}
	</a>
</p>